<p id="notice"><%= notice %></p>

<h1>Listing M Users</h1>

<table>
  <thead>
    <tr>
      <th>Id m user</th>
      <th>M user name</th>
      <th>M user surname</th>
      <th>Blood type</th>
      <th>Email</th>
      <th>Password digest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @m_users.each do |m_user| %>
      <tr>
        <td><%= m_user.id %></td>
        <td><%= m_user.m_user_name %></td>
        <td><%= m_user.m_user_surname %></td>
        <td><%= m_user.blood_type_user %></td>
        <td><%= m_user.email %></td>
        <td><%= m_user.password_digest %></td>
        <td><%= link_to 'Show', m_user %></td>
        <td><%= link_to 'Edit', edit_m_user_path(m_user) %></td>
        <td><%= link_to 'Destroy', m_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New M user', new_m_user_path %>
