<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

<!-- AQUÍ VA EL TÍTULO DE LA PÁGINA -->
    <title>ARRDMedical Center</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">


    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <script src="docs/assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <!-- EMPIEZA EL DISEÑO 
    ========================================= -->
<body>
  <div class="container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/assets/Medical-center.png" class="img-responsive img" alt="">
      </a>
    </div>
    <li><%= link_to "Cerrar Sesión", logout_path, method: "delete" %></li>
    <li><%= link_to "Perfil", m_user_actual %></li>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" data-no-turbolink>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= m_user_actual.m_user_name %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" data-no-turbolink>
            <li><%= link_to "Perfil", m_user_actual %></li>
            <li><a href="#">Configuración</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Cerrar Sesión", logout_path, method: "delete" %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  </div>
<br>  
<br>
<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well">
      <h1>Configuración</h1>
      <hr>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>Crea una nueva publicación</h3>
    <br>
    <%= render 'form' %>
  </div>
  </div>
</div>
</div>
</div>



<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well">
      <h1>Regresar sin publicar:</h1>
      <hr>
      <div class="row">
	<div class="col-md-10 col-md-offset-1">
	  <p><%= link_to 'Regresar', posts_path %></p>
	  <br>
	</div>
      </div>
    </div>
  </div>
</div>

<!-- JAVASCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="docs/assets/js/ie10-viewport-bug-workaround.js"></script>
      
  </body>
</html>
