<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

<!-- AQUÍ VA EL TÍTULO DE LA PÁGINA -->
    <title>ARRDMedical Center</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">


    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <script src="docs/assets/js/ie-emulation-modes-warning.js"></script>

  </head>
  <body>
      <div class="container">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/assets/Medical-center.png" class="img-responsive img" alt="">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" data-no-turbolink>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= m_user_actual.m_user_name %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" data-no-turbolink>
            <li><%= link_to "Perfil", m_user_actual %></li>
            <li><a href="#">Configuración</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Cerrar Sesión", logout_path, method: "delete" %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  </div>
  <br>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          
      
    
<h1>Información de la publicación</h1>

<p>
  <strong>Título:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Tipo de sangre:</strong>
  <%= @post.blood_type_post %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @post.location_post %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @post.phone_post %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @post.description %>
</p>
<% if m_user_actual == @post.m_user %>

<p><%= link_to 'Mostrar publicación', post_path(@post) %></p>
<p><%= link_to 'Eliminar', post_path(@post), method: :delete, data: { confirm: '¿Está seguro?' } %></p>
<% end %>

<% if @donador != nil && @post.m_user == m_user_actual %>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2> Datos de la persona interesada en tu post </h2>
    </div>
  </div>
</div>
  <section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well">
          <h1 class="text-center">Información del perfil</h1>
          <hr>
          <br>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
              <h4>Nombre:</h4>
              <h4>Apellido:</h4>
              <h4>Tipo de sangre:</h4>
        <h4>Correo:</h4>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-left">
              <h4><%= @donador.m_user_name %></h4>
              <h4><%= @donador.m_user_surname %></h4>
              <h4><%= @donador.blood_type_user %></h4>
              <h4><%= @donador.email %></h4>
            </div>
          </div>
    <h4><%= link_to "Rechazar donador", rechazar_path(@post) %></h4>
    <h4><%= link_to "Aceptar donador y terminar publicación", aceptar_path(@post) %></h4>
          <br>
        </div>
      </div>
    </div>
  </div>
  </section>
<% end %>
<%= link_to 'Regresar', posts_path %>
<% if @m_user == m_user_actual %>
<%= link_to 'Editar publicación', edit_post_path(@post) %>
<% end %>
  </body>
</html>
